body {
	background-color:#232323;
	width: 100%;
	text-align: center;
	margin:0;
	font-family:"Monsterrat", "Avenir" ;
}

.square {
	width: 30%;
	background-color: purple;
	padding-bottom:30%;
	margin:1.66%;
	float:left;
	border-radius: 15%;
	transition: background-color 1.0s;
	--webkit--transition: background-color 1.0s;
	--moz--transition: background-color 1.0s;
}

#container {
	margin: 20px auto;
	max-width: 600px;
}

#h1{
	color:white;
	text-align: center;
	background-color: steelBlue;
	margin:0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

#stripe {
	background-color: white;
	height:30px;
	text-align:center;
	color:black;
	font-weight: 700;
	color: steelBlue;
}

.selected {
	color:white;
	background-color: steelBlue;
}

#colourDisplay {
	font-size:200%;
}

#message {
	display:inline-block;
	width:20%;
}

button {
	border: none;
	background-color: white;
	text-transform: uppercase;
	height:100%;
	font-weight: 700;
	color: steelBlue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.4s;
	--webkit--transition:  all 0.4s;
	--moz--transition:  all 0.4s;
	outline: none;
}
button:hover {
	color:white;
	background-color: steelBlue;
}
